<!-- Navigation -->
<div th:fragment ="header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00adef;">
        <div class="container">

            <a th:href="@{/home}" class="navbar-brand">
                <img th:src="@{/images/logo.png}" width="60" height="60" alt="Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/home/us}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/tienda}">Tienda Virtual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/eventos}">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/home/contact}">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white bi bi-cart" th:href="@{/user/cart/get-cart}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white bi bi-door-open font-weight-bold" th:href="@{/login}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-door-open" viewBox="0 0 16 16">
                                <path
                                        d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                                <path
                                        d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z" />
                            </svg>
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- fragment user logged -->
<div th:fragment ="userlogged">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00adef;">
        <div class="container">

            <a th:href="@{/home}" class="navbar-brand">
                <img th:src="@{/images/logo.png}" width="60" height="60" alt="Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/about}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/home}">Tienda Virtual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/events}">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" th:href="@{/home/contact}">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white bi bi-cart" th:href="@{/user/cart/get-cart}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white font-weight-bold" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/user/update}">Mi Cuenta</a>
                            <a class="dropdown-item" th:href="@{/user/cart/get-cart}">Carrito</a>
                            <a class="dropdown-item" th:href="@{/user/cart/shopping}">Órdenes</a>
                            <a class="dropdown-item" th:href="@{/logout}">Salir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Footer -->
<div th:fragment ="footer">
<footer class="text-center text-lg-start bg-dark text-white mt-4">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Mantente conectado en nuestras redes sociales:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <img th:src="@{/images/logo.png}" width="100" height="100" alt="Logo">
                    </h6>
                    <p>
                        En la pescaderia Fidyfer encontrarás los mejores y más frescos productos del mar. Los puedes adquirir
                        en nuestra tienda física y en nuestra tienda virtual de forma fácil y segura.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->

                    <p>
                        <a th:href="@{/home/us}" class="text-reset">Nosotros</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Terminos y condiciones</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Política de privacidad</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Políticas de Entrega</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                    <p><i class="fas fa-home me-3"></i>Carrera 42 # 7-39. Barranquilla - Atlántico </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        pescaderiafidyfer@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +57 312 3593484</p>
                    <p><i class="fas fa-print me-3"></i> +57 (605) 6351757</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold">Pescadería Fidyfer</a>
    </div>
    <!-- Copyright -->
</footer>
</div>
<!-- Footer -->
