<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
  <!-- Toastr CSS -->
  <link th:href="@{/vendor/toastr/build/toastr.min.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:insert = "~{admin/template_admin::header}"></div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">

  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
    <li class="breadcrumb-item active">Ver Usuarios</li>
  </ol>


  <h2>Usuarios</h2>
  <div th:classappend="'alert-' + (${clase != null} ? ${clase} : 'info')" th:if="${mensaje != null}">
    <p th:text="${mensaje}" class="alert"></p>
  </div>

  <div class="mb-3">
    <a class="btn btn-primary" th:href="@{/admin/users/create}" >Agregar</a>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cédula</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Estado</th>
        <th scope="col" style="text-align: center;">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <tr th:if="${users.size() == 0}">
      <td colspan="8">
        <p>No existe información registrada de usuarios.</p>
      </td>
    </tr>
    <tr th:each="user:${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.personalId}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.cellphone}"></td>
      <td th:text="${user.userStatus}"></td>
      <td  style="text-align: center;">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-warning" th:href="@{/admin/users/edit/{id} (id = ${user.id}) }">Editar</a>
          <a class="btn btn-danger" th:href="@{/admin/users/delete/{id} (id = ${user.id})}">Baja</a>
          <a class="btn btn-primary" th:href="@{/admin/orders/{id} (id = ${user.id}) }">Órdenes</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav th:if="${users.size() > 0 && totalPages != null}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
        <a class="page-link" th:href="@{/admin/users/show(page=${currentPage - 1}, size=${size})}">Previo</a>
      </li>
      <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, totalPages-1)}"
          th:classappend="${currentPage == pageNumber ? 'active' : ''}">
        <a class="page-link" th:href="@{/admin/users/show(page=${pageNumber}, size=${size})}" th:text="${pageNumber+1}"></a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
        <a class="page-link" th:href="@{/admin/users/show(page=${currentPage + 1}, size=${size})}">Siguiente</a>
      </li>
    </ul>
  </nav>

</div>
<!-- /.container -->

<!-- Footer -->
  <div th:insert = "~{admin/template_admin::footer}"></div>

  <!-- Success Message -->
  <div id="success-message" th:if="${success!= null}">
    <span th:text="${success}"></span>
  </div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- Toastr JavaScript -->
  <script th:src="@{/vendor/toastr/build/toastr.min.js}"></script>


</body>

</html>
