<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Página Principal</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

  <!-- Toastr CSS -->
  <link th:href="@{/vendor/toastr/build/toastr.min.css}" rel="stylesheet">

  <style type="text/css">
  .jumbotron {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/pescados1.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 350px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.container-fluid {
  height: 100%;
  padding: 0;
}
  </style>


</head>

<body>

  <!-- Navigation -->
  <div th:insert = "~{user/template_user::header}" th:if="${id==null}"></div>

  <div th:insert = "~{user/template_user::userlogged}" th:unless="${id==null}"></div>

  <!-- Jumbotron Header -->
  <div class="container-fluid">
    <!-- Aquí va el contenido de la página -->
    <header class="jumbotron my-4">
      <h1 class="display-3">BIENVENIDOS A PESCADERIA FIDYFER</h1>
      <p class="lead">Tu tienda de productos del mar en Línea</p>
    </header>
  </div>

  <!-- Page Content -->
    <div class="container">


      <!-- Formulario de búsqueda -->
      <div class="row mb-3">
        <div class="col-md-12">
          <form th:action="@{/home/search}" method="post" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Buscar producto..." name="keyword">
            </div>
            <button class="btn btn-outline-secondary ml-2" type="submit">Buscar</button>
          </form>
        </div>
      </div>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4" th:each="product:${products}">
          <div class="card h-100">
            <img class="card-img-top" th:src="@{/images/{img} (img = ${product.image})}" alt="">
            <div class="card-body">
              <p class="card-text" th:text="${product.name}">Nombre del producto.</p>
              <p class="card-text" th:text="${product.price}"> $ Precio del producto.</p>
            </div>
            <div class="card-footer">
              <a th:href="@{/home/product-detail/{id} (id=${product.id})}" class="btn btn-success">Ver producto</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <nav th:if="${totalPages != null}">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${currentPage == 0} ? disabled">
            <a class="page-link" th:href="@{/home(page=${currentPage - 1}, pageSize=${pageSize})}">Previo</a>
          </li>
          <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, totalPages-1)}">
            <a class="page-link" th:href="@{/home(page=${pageNumber}, pageSize=${pageSize})}" th:text="${pageNumber+1}"></a>
          </li>
          <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? disabled">
            <a class="page-link" th:href="@{/home(page=${currentPage + 1}, pageSize=${pageSize})}">Siguiente</a>
          </li>
        </ul>
      </nav>

      <nav th:if="${totalPages == null}">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" th:href="@{/home}">Volver</a>
          </li>

        </ul>
      </nav>
    </div>
    <!-- /.container -->

  <!-- Success Message -->
  <div id="success-message" th:if="${success!= null}">
    <span th:text="${success}"></span>
  </div>

    <!-- Footer -->
  <div th:insert = "~{user/template_user::footer}"></div>


  <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/toastr/build/toastr.min.js}"></script>

  <script>
  $(document).ready(function () {
    if ($('#success-message').length > 0) {
      toastr.success($('#success-message'));
    }
  });
</script>

  </body>

  </html>
