<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Restablecer contraseña</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

  <link th:href="@{/vendor/toastr/build/toastr.min.css}" rel="stylesheet">

  <style>
        .error {
            color: red;
        }
        .form-group label {
            font-weight: normal;
        }
        .form-group input[type="password"],
        .form-group input[type="text"],
        .form-group input[type="email"],
        .form-group input[type="tel"] {
            width: 100%;
        }
        .form-group .form-check-label {
            margin-left: 5px;
        }
        .btn-success {
            margin-top: 10px;
        }
        .valid {
            color: green;
        }
        .invalid {
            color: red;
        }
    </style>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00adef;">
  <div class="container">

    <a th:href="@{/home}" class="navbar-brand">
      <img th:src="@{/images/logo.png}" width="60" height="60" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" th:href="@{/home/index}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" th:href="@{/home/us}">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" th:href="@{/home}">Tienda Virtual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" th:href="@{/home/contact}">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white bi bi-cart" th:href="@{/user/cart/get-cart}">
            <img src="/images/carrito.png" alt="carrito">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bi bi-door-open font-weight-bold" th:href="@{/login}">
            <img src="/images/sesion.png" alt="sesion">
            Iniciar Sesión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Page Content -->
<div class="container mt-4">

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2>Restablecer Contraseña</h2>

        </div>
      </div>
    </div>
  </div>

  <form  action="/reset-password" method="post">
    <input type="hidden" name="email" th:value="${email}">
    <input type="hidden" name="token" th:value="${token}">
    <div class="form-group">
      <label for="password">Contraseña Nueva:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese la contraseña nueva" required>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmar contraseña:</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Ingrese la contraseña nuevamente" required>
    </div>

    <div class="form-check col-sm-6">

      <label style="font-size: 12px;">Debe contener: Al menos una letra mayúscula, un carácter especial, Mínimo 5 letras, Al menos 2 números. </label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-dark" id="submitBtn">Guardar</button>
      </div>
    </div>
  </form>

</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="~{user/template_user::footer}"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/toastr/build/toastr.min.js}"></script>

<script>
    $(document).ready(function () {
      if ($('#success-message').length > 0) {
        toastr.success($('#success-message').text());
      }
    });

    $(document).ready(function() {
      // Cambiar la pestaña activa al hacer clic en una pestaña
      $('.nav-tabs a').click(function() {
        $(this).tab('show');
      });

      // Validar contraseñas iguales y condiciones
      $('#submitBtn').click(function(event) {
        var password = $('#password').val();
        var confirmPassword = $('#confirmPassword').val();

        if (password !== confirmPassword) {
          toastr.error('Las contraseñas no coinciden.');
          event.preventDefault();
        }

        var regexUppercase = new RegExp('[A-Z]');
        var regexSpecialChar = new RegExp('[@#$%&*.]');
        var regexLetterCount = new RegExp('[a-zA-Z]{5,}');
        var regexNumberCount = new RegExp('[0-9].*[0-9]');

        if (!regexUppercase.test(password)) {
          toastr.error('La contraseña debe contener al menos una letra mayúscula.');
          event.preventDefault();
        }

        if (!regexSpecialChar.test(password)) {
          toastr.error('La contraseña debe contener al menos un carácter especial.');
          event.preventDefault();
        }

        if (!regexLetterCount.test(password)) {
          toastr.error('La contraseña debe contener al menos 5 letras.');
          event.preventDefault();
        }

        if (!regexNumberCount.test(password)) {
          toastr.error('La contraseña debe contener al menos 2 números.');
          event.preventDefault();
        }
      });
    });
</script>



</body>

</html>
